/* 2023-08-20  main.css */




@media (prefers-color-scheme: dark) {
	a {
		color: #9f3fff;
	}

	body {
		color: #efefef;
		background-color: #181a1b;
	}
}


@media (prefers-color-scheme: light) {
	a {
		color: blue;
	}

	body {
		color: black;
		background-color: white;
	}
}

a:link, a:visited {
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}
